.panel-title {
  font-size: 22px;
}

a {
  color: inherit;
}

a:visited {
  color: black;
}

@media (min-width: 768px) {
  .container {
    width: 500px;
  }
}

body {
  font-size: 18px;
}

.container {
  padding-left: 5em;
  padding-right: 5em;

}

.dump {
  text-transform: none;
}

table {
  margin-right: auto;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 5px;
}

h3 {
  margin-bottom: 5px;
}

h4 {
  margin-top: 0;
}

.winner {
  font-weight: bold;
}

.ugh {
  background-color: #333;
}

.ugh:hover {
  background-color: inherit;
  font-size: 96px;
}

th {
  background-color: #ffeeee;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
table {
animation-name: spin; animation-duration: 4000ms; animation-iteration-count: infinite; anima
    tion-timing-function: linear;}
*/
